

profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }



    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
	process.clusterOptions="--constraint=avx2"
    }



    singularity {
        singularity.autoMounts = true
        singularity.enabled = true
    }



}


params {
      	   out_dir = "output"
	   batch_dir="/dataC/CRDM/testingreads_gbs/191206_M02143"
	   allDB_dir="/dataC/CRDM/GBS_Scripts_Reference/GBS_Reference_DB"
	   max_forks=10
	   suffix="fastq.gz"
	   publish = "link"
	   max_velvet_cpus=8
}
