
queue = 'batch'


gsImage = "quay.io/shaze/gs"

manifest {
    homePage = 'http://github.com/shaze/GS'
    description = 'Wits Nextflow implemenration of the CDC genotyping'
    mainScript = "main.nf"
}


process {
    container = gsImage
}

profiles {

    standard {
        process.executor = 'local'
    }



    slurm {
        process.executor = 'slurm'
        process.queue = queue
    }

    pbs {
        process.executor = 'pbs'
        process.queue = queue
    }


    singularity {
        singularity.autoMounts = true
        singularity.enabled = true
    }


    docker {
        process.executor = 'local'
        docker.remove      = true
        docker.registry    = 'quay.io'
        docker.enabled     = true
        docker.temp        = 'auto'
        docker.fixOwnership= true
	docker.runOptions = '-u $(id -u):$(id -g) --rm'
        docker.process.executor = 'local'
    }



}


params {
      	   out_dir = "output"
	   batch_dir="/dataC/CRDM/testingreads_gbs/191206_M02143"
	   allDB_dir="/dataC/CRDM/GBS_Scripts_Reference/GBS_Reference_DB"
	   max_forks=10
	   suffix="fastq.gz"
	   publish = "link"
	   max_velvet_cpus=2
}
